.small {
  background-color: #bcd5fc;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding: 25px;
  margin: 20px;
  text-align: center;
  border-radius: 8px;
}

.title {
  font-size: 30px !important;
}
body {
  /* background-color: #121212 !important;
  color: white; */
  overflow-x: hidden;
  width: 100%;
  font-family: "Gotu", sans-serif;
}
* {
  margin: 10;
  padding: 10;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.est span span {
  font-size: 24px !important;
}
.menu-icon {
  position: fixed;
  right: 20px;
  top: 100px;
  background: url(/images/xyz.jpeg);
  background-size: cover;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  z-index: 2;
  box-shadow: 0px 0.5px 50px rgba(2, 2, 2, 0.05);
}
.menu-icon:hover {
  transform: scale(1.2);
}
.statewise {
  text-align: center;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  background-color: #bcd5fc;
  overflow: auto;
  width: 300px;
  height: 320px;
  text-align: justify;
}
#myChart {
  background-color: #bcd5fc;
  padding: 6px;
  color: rgb(25, 32, 25);
  cursor: pointer;
  border-radius: 10px;
}
.line {
  overflow-y: hidden;
  margin-left: 20%;
  position: absolute;
}
.chart {
  border-radius: 10px;
  overflow-y: hidden;
  padding: 1px;
  position: absolute;
  margin-left: 60%;
  background-color: #bcd5fc;
}

.tablecontent {
  background-color: #bcd5fc;
  font-size: 1.2vw;
  font-weight: 800;
}
